* {
    /* border: 1px solid red; */
}


#project-main {
    position: relative;
    width: 100vw;
    padding: 5vw;

}

#project-list {
    margin: 5px;
    /* display: grid; */
    /* grid-template-columns: 2;
    grid-template-rows: 2; */
    /* flex-direction: column; */

}

.project {
    text-decoration: none;
    color: inherit;
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* gap: 10px; */
    grid-auto-rows: minmax(200px, auto);
    justify-content: center;
    align-items: center;
    padding: 5px;

}


.proj-bkg {
    grid-column: 1;
    width: 250px;

}

/* .proj-title {
    grid-column: 2;

}

.proj-summary {
    grid-column: 3;
} */