* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    background: #edf1c2;
    color: #132a13
}

/* 
#132a13
#31572c
#4f772d
#90a955
#ecf39e
#edf1c2
/*

.home {
    position: relative;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 span {
    color: #6ac464
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0
}

.home-content p {
    font-size: 16px
}

.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #6ac464;
    border-radius: 50%;
    font-size: 20px;
    color: #6ac464;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #6ac464;
    color: #1f242d;
    box-shadow: 0 0 20px #6ac464;
}

.home-img img {
    max-width: 450px;
}



/* KEYFRAMES ANIMATION */
@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}