:root {
    --color-800: #132a13;
    --color-700: #31572c;
    --color-600: #4f772d;
    --color-400: #8a9d5a;
    --color-300: #b7daa2;
    --color-100: #dfefcf;
    --icon-color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}
body::-webkit-scrollbar {
  width: 14px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-800);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--color-800);  /* creates padding around scroll thumb */
}


html {
  scroll-behavior: smooth;
}

body {
    font-size: 14px;
  }

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-800);
  align-items: center;
}
header a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

header a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 2rem;
  padding: 10px 1rem;
  align-self: center;
}

.navbar {
  font-size: 1.1rem;
  margin: 1rem;
  margin-left: 0;
}
.navbar a {
  padding: .4rem;
}

main {
  background-color: var(--color-800);
}

.hero {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: url('./images/jk_hero.jpg') left top / cover no-repeat;
  border-radius: 25px;
  overflow: hidden;

}

.hero .info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 100vh;
}

.hero .info-text h1 {
  font-size: 5rem;
  font-weight: 500;
}

.hero .info-text h3,
.hero .info-text p {
  font-size: 1rem;
}
  
.hero .info-text .scroll {
  position: absolute;
  bottom: 20%;
  left: 50%;
  color: #fff;
  transform: translate(0, -50%);
  transition: all 0.5s;
  font-size: 1.4rem;
}

.hero .info-text .scroll:hover {
  opacity: 0.5;
}

#projects,
#games,
#about-me,
#contact {
  background-color: var(--color-800);
  padding: 0.5rem 1rem;
}

.sectionHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
}

.sectionHead h1 {
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}

.sectionContent {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 2rem;
}

.card {
  padding: 30px;
  margin: 1rem 0;
  background-color: var(--color-700);
  box-shadow: 0 5px 15px rgba(0,0,0,0.35);
  border-radius: 20px;
  display: flex;
  gap: 15px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  min-width: 505px; 
  max-width: 700px; 
  flex: 1;
}

.card:hover {
  border-color: #fff;
  box-shadow: none;
}

.card img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(255,255,255,0.35);

}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}

.card-summary {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.8rem;
}

.card-icons {
  color: var(--icon-color);
  font-size: 2rem;
  margin: .5rem 0;
}


.card-links {
  margin: 1rem 1rem 0 1rem;
  text-align: center;
}
.card-links a {
  color: #fff;
  box-shadow: 0 5px 15px rgba(255,255,255,0.35);
  border: 1px solid transparent;
  padding: 1rem;
  transition: all 0.3s ease;
  border-radius: 20px;
  background-color: #2b2f4b;
  text-decoration: none;
}

.card-links a:hover {
  border-color: #fff;
  box-shadow: none;
}

.about-me-text p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* TODO add contact stuff */
.contactIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contactIcons a {
  padding: .5rem 2rem;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.contactIcons a:hover {
  opacity: 0.5;
}

footer{
  background-color: var(--color-800);
  text-align: center;
  padding: 1rem;
}
footer p{
  color: #fff;
}

.scroll-top {
  display:none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2b2f4b;
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 5px 15px rgba(0,0,0,0.35);
  padding: 16px 18px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.scroll-top:hover {
  border-color: #fff;
  box-shadow: none;
}

@media screen and (max-width: 720px) {
  .logo {
    font-size: 1.5rem;
  }

  .navbar a {
    font-size: 1rem;
  }

  .hero .info-text h1 {
    font-size: 4rem;
  }

  .hero .info-text h3,
  .hero .info-text p {
    font-size: .9rem;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .card img {
    max-width: 150px;
    max-height: 150px;
  }
  .card-links a{
    padding: .5rem;
  }
}