:root {
    --color-800: #132a13;
    --color-700: #31572c;
    --color-600: #4f772d;
    --color-400: #8a9d5a;
    --color-300: #b7daa2;
    --color-100: #dfefcf;
    --grid-item--min-width: calc(1vw - 2rem);
    --grid-item--max-width: calc(400px - 3rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px solid red; */
}

/* Apply some basic styles to the whole page */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-100);
  }
  
  /* Style for the header section */
.header {
    position: sticky;
    top: 0;
    background-color: var(--color-300); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 100; /* Ensure the header is above other content */
    display: flex; /* Add flex display to align logo and navbar */
    align-items: center; /* Center items vertically */
  }

  /* Style for the logo */
.logo {
    font-size:2rem; /* Adjust the size as needed */
    font-weight: bold;
    text-decoration: none;
    color: var(--color-800); 
    padding: 10px 20px; /* Add padding to the logo */
  }

  /* Style for the navbar */
.navbar {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-left: auto; 
  }

  /* Style for navbar links */
.navbar a {
    text-decoration: none;
    color: var(--color-800); /* Change this to your desired text color */
    margin: 0 15px; /* Add spacing between the links */
    transition: color 0.3s ease-in-out; /* Add a smooth color transition on hover */
  }

.navbar a:hover {
    color: #000000; /* Change this to the desired hover color */
  }

/* Style for the hero section */
.hero {
    height: calc(100vh - 49px); /* Set the height to 100% of viewport height */
    background: url('./images/jk_hero.jpg') left top / cover no-repeat; /* Replace with your image path */
    display: flex;
    align-items: center; /* Center content vertically */
    padding: 0 20px; /* Add padding to the sides */
  }

  /* Style for the about me text */
  .hero-about-me {
    max-width: 50%; /* Limit text width */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Add a shadow to the text box */
    margin-left: auto; 
    color: var(--color-100)

  }
  
  /* Style for the text inside the about-me box */
  .about-me p {
    margin: 0;
    font-size: 1.5rem;
    color: white; /* Set text color to white */
  }
  

section h1, h1 {
    padding: 1rem;
    padding-bottom: 0;
    font-size: 2rem
}

/* Apply styles to the projects section */
.projects, .games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
    gap: 30px; /* Add spacing between projects */
  }

  
  
  /* Style for each project */
  .card {
    /* width: calc(50% - 15px);  */
    padding: 1rem;
    background-color: var(--color-300);
    border: 2px solid var(--color-800);
    border-radius: 1rem;
    display: flex;
    box-shadow: 0 ;
    transition: box-shadow 0.35s;

  }
  .card:hover{
    box-shadow: .5rem .5rem .5rem var(--color-700);

  }
  
  /* Style for the project image */
  .card-bkg {
    flex: 0 0 40%; 
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-bkg img {
    width: 100%;
    height: 100%;
    object-fit:contain;
  }
    /* Style for the project content */
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 20px;


  }
  
  /* Style for the project title */
  .card-title {

  }
  
  /* Style for the project summary */
  .card-summary {
    margin-top: 1rem;
  }
  
  /* Style for the project links */
  .card-links {
    margin-top: 1rem;
    text-align: center;
  }
  
  .card-links a {
    display: inline-block;
    padding:0 .5rem;
    /* text-decoration: none; */
    color: #333333;
  }
 

  .card-links a:hover {
    display: inline-block;
    text-decoration: underline;
    color: var(--color-600);
  }


.disabled {
    pointer-events: none;
    text-decoration: line-through;
}

.under-construction {
  border: solid 20px;
  border-image: repeating-linear-gradient( -75deg, yellow, yellow 10px, black 10px, black 20px) 20;
  border-radius: 10px;
}

.game {
   background-color: var(--color-300);
}

/* .about-me-paragraphs {
  display: flex;
  justify-content: center;
} */

.about-me-paragraphs p {
  padding: 1rem;
  color: var(--color-800);
  font-size: 1rem;

}

/* Apply styles to the contact section */
.contact {
    display: flex;
    flex-direction: column;
}

.contact-info {
  margin: 0 auto;
  max-width: 600px;
  min-width: 360px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1rem;
}

.contact-form a {
  display: inline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.contact-form * {
  margin: .5rem;
  border-radius: 10px;
  padding: .5rem
}

/* Style for the contact icons */
.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
}

.icon {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  font-size: 2rem;
}

.icon a {
  text-decoration: none;
  color: var(--color-800);
  padding: 1rem;
  border-radius: 1rem;

  box-shadow: 0;
  transition: box-shadow 0.35s;
}
.icon a:hover {
  box-shadow: .5rem .5rem .5rem var(--color-700);

}

.icon i {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  margin-bottom: 1rem;
}